.nav_wrapper {
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: start;
  background-image: url(../../assets/images/darth_vader_face.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
